    
        body{
 
            background-color: black;
            color:white;
            font-family: Arial,sans-serif;
            
        }

        

        .fundo-img {

            background-image: url(torcida.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


       
        
    
 
        html{
            scroll-behavior: smooth; /*menu suave*/
        }

        h1{
            
            font-family: 'roboto', sans-serif;
            color: black;
        }    
 
        h3,h4{
            color:red;
            text-align: center;

           
        }
        h2{
            color:red;
            text-align: center;
        }
      
     
        a{
            color:red;
        }
 
        a{
            color:white;
 
        }
 
        .container{
            max-width: 900px; /*largura ideal*/
            margin: 0 auto;
            padding: 20px;
 
        }
 
        img{
            display:block;
            margin: 20px auto;
            border-radius: 20px;
            
 
        }

        
        .card, img, h2 {
            animation: fade 0.8s ease-in-out;
        }

        @keyframes fade {
            from {opacity: 0; transform: translateY(10px);}
            to {opacity: 1;transform: translateY(0);}
        }
 
        .card h3 {
            margin-top: 0;
            color: #ff0000;
            text-align: center;
 
        }
 
        nav{
            text-align: center;
            margin-bottom: 20px;
 
        }
 
        nav a{
            margin: 0 10px;
            padding: 10px 20px;
            color:white;
            background: #111;
            border-radius: 8px;
            text-decoration: none;
            transition: 0.3s;   
        }

            @media (max-width:600px ) {
            nav a {
                display: block;
                margin: 10px auto;
                width: 80%;
                text-align: center;
            }
        }



        header{

           
            padding: 30px 0;
            border-radius: 10px;
            margin-bottom: 20px;

        }
        
        header h1 {
            margin: 0;
            color: white;

        }

        #titulos img {
            width: 350px;
            height: auto;
            display: block;
            margin: 20px auto;
            border-radius: 10px;
        }

        #titulos  {
            text-align: center;
            max-width: 900px;
            margin: 0 auto; 
        }

        #titulos h5{
            margin-top: 50px;
            margin-bottom: 10px;
        }
      
        
        #idolos {
            text-align: center;
            max-width: 900px;
            margin: 0 auto;
        }

        #idolos img {
            display: block;
            margin: 50px auto 20px auto; 
        }
     

        #historia{
            text-align: center;
        }

        .titulos {
            list-style: none; 
            padding: 0; 
            display: flex; 
            flex-wrap: wrap;
            gap: 12px;
            justify-content: center;
            margin-bottom: 30px;
        }

        .titulos li a {
            display: inline-block;
            padding: 10px 18px;
            background-color: #b30000;
            color: white;
            font-weight: bold;
            border-radius: 8px;
            text-decoration: none;
            font-family: 'montserrat', sans-serif;
            transition: 0.3s ease; 
            
        }

        .titulos li a :hover {
            background-color: black;
            border-color: #b30000;
            transform: scale(1.05);

        }

        .titulos li a:active {
            transform: scale(0.95);
        }

        





       

